<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.bdm.kotlinmessenger">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_kotlin_svgrepo_com"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_kotlin_svgrepo_com"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinMessenger"
        tools:targetApi="31">
        <activity
            android:name=".screen.main.ChatLogActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.main.LatesMessagesActivity" />
        </activity>
        <activity
            android:name=".screen.main.NewMessageActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.main.LatesMessagesActivity" />
        </activity>
        <activity
            android:name=".screen.main.LatesMessagesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.autentification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.autentification.RegisterActivity"
            android:exported="false"></activity>
    </application>

</manifest>